/* font styling */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
}

p, div {
  font-weight: 500;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* text style and formatting */
#quizStart, #endScreen, #questions {
  line-height: 30px;
  text-align: center;
  padding: 50px;
  border: rgb(214, 214, 214) 20px;
  width: 500px;
  margin: auto;
}

/* timer styling */
.timer {
  text-align: right;
  font-weight: bold;
  color: #28449c;
  font-size: 40px;
  margin-right: 300px;
}

/* Button styling */
button {
  background-color: #28449c;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 1s;
}
button:hover {
  background-color: #20772b;
  color: #f3f3f3;
}
#choices {
  margin: auto;
  width: 200px;
}

/* class to hide questions and ending screen */
.hide {
    display: none;
}
.feedback {
  text-align: center;
  font-size: 100px;
  color: #28449c;
}