/* font styling */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
}

p, div {
    font-weight: 500;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* start screen styles */
#quizStart {
    text-align: center;
    padding: 50px;
    border: lightgray 20px;
    width: 500px;
    margin: auto;
  }

/* timer styling */
.timer {
    text-align: right;
    font-weight: bold;
    color: #28449c;
    font-size: 40px;
    margin-right: 10em;
  }

  /* Button styling */
button {
    background-color: #28449c;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 1s;
  }
  button:hover {
    background-color: #20772b;
    color: #f3f3f3;
  }
